.btn{
background-color: #FB743E;
}

.container1{
    margin: 0 auto !important;
    width: 100%;
    padding: 50px;
}

.imagen{
    display:block !important;
    margin:auto !important;
    width: 80%;
    
}

.col-lg-4{
    margin: 0 auto !important;
    
}
.h1{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 60px !important;
  color: rgba(60, 180, 172, 0.58);
}
.text{
    text-align: justify;
    padding: 20px;
    font-family: 'Roboto', 20px;
    line-height : 25px;
}