
<div>
<div class="row g-6">
    <div class="col-md-5">
    <h1>Cuéntanos</h1>
    <h2>¿Qué problema tienes con tu equipo?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus donec congue velit arcu. 
        Leo porttitor eu, risus at in eu aenean dui facilisis. Quis morbi imperdiet enim nisi, 
        quis tempus nisl molestie pellentesque. Vitae at nunc quisque at turpis augue amet vitae.
         Neque, purus aliquet nulla in dui, phasellus a dictum. Proin consectetur consectetur 
         platea suscipit congue nunc scelerisque vulputate et. Tincidunt felis aliquam egestas 
         molestie ac sagittis, dolor, venenatis. Dui nunc pretium elit nibh. Mi, eu felis, elit,
          donec viverra in. Vestibulum ultricies risus semper blandit arcu.
        Orci integer faucibus est scelerisque semper. Scelerisque donec commodo pellentesque ut 
        nibh cras at diam dui. Felis nisi, gravida sed ac non maecenas sit tincidunt. Enim viverra
         amet ac sollicitudin ut vel. Sodales viverra in pellentesque mattis amet viverra. 
         Leo scelerisque mauris rhoncus aliquam lacus, ornare purus. Ut non scelerisque ipsum 
         fermentum ac volutpat mattis semper natoque. Auctor morbi a sed volutpat morbi.
          Malesuada sed ac, rutrum varius imperdiet risus enim, sagittis.</p>
        </div>
     

     <div class="col-lg-4 col-md-6">
    <form>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripcion del equipo</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>



      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripcion del problema</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
  </form>
</div>
</div>
</div>