
<div class="container1">
  <h4 class="h1">CUÉNTANOS</h4>
<div class="row g-6">
    <div class="col-lg-4 col-md-6">
    <h4 class="h2">¿Qué problema tienes con tu equipo?</h4>
    <li class="text">Complete el formulario de la manera mas clara posible los técnicos revisaran la información 
      y luego podrá visualizar los técnicos que se hayan postulado para resolver su inconveniente deberá elegir 
      a uno de ellos para poder contactar con el técnico y llegar a un acuerdo. 
    </li>
    </div>
     

     <div class="col-lg-4 col-md-6">
    <form [formGroup]="formSolicitud" (ngSubmit)="publicSolicitud()">
    <select 
      class="form-select" 
        type="text" 
        required="true" 
        formControlName="dano"
        aria-label="Default select example" >
        <option class="text" selected>Seleccione una de las opciones</option>
        <option value="Pantalla Azul">El equipo no da video</option>
        <option value="Lentiutud">El programa no responde</option>
        <option value="No enciende">Incompatibilidad de programas con Windows</option>
        <option value="No enciende">La unidad de CD-ROM, CD-WRITER O DVD-ROM no lee los CD´S</option>
        <option value="Lentitud">Mantenimiento correctivo</option>
        <option value="Lentitud">Antivirus</option>
        <option value="Pitidos">La computadora no arranca (pantalla negra y ningún arranque de Windows) y esta pitando</option>
        <option value="Lentiutud">El sistema falla después de trabajar un rato</option>
        <option value="No enciende">La computadora no arranca (pantalla negra y ningún arranque de Windows) y esta pitando</option>
        <option value="Lentitud">Word, Excel, power point causan una operación ilegal y se cierran (en el proceso perdiste todo tu trabajo de tus ultimas horas</option>
        <option value="No enciende">Windows indica que falla un componente del hardware</option>
        <option value="Pitidos">Se escucha ruido en los ventiladores</option>
        <option value="Pantalla Azul">Otros</option>
      </select>
      <div class="mb-3">
        <label 
        class="form-control" 
        >Descripción del equipo</label>
        <textarea type="text" 
        required="true" 
        formControlName="descripcionPC" 
        id="exampleFormControlTextarea1" 
        rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label 
        >Descripción del problema</label>
        <textarea required="true" 
        formControlName="descripcion" 
        id="exampleFormControlTextarea1" 
        rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
</div>
</div>