<h1>Solicitudes sin Asignacion</h1>  

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción del equipo</th>
            <th>Descripción del problema</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let  sol of solicitudes">
            <td>{{sol.id}}</td>
            <td>{{sol.descripcionPC}}</td>
            <td>{{sol.descripcion}}</td>
              <td class="bnt-group d-none d-sm-block" role="group">
                <button type="button" class="btn btn-success m-1" (click)="postular(sol.id)"> Postular</button>
                <button type="button" class="btn btn-danger m-1" >Ignorar</button>
              </td>


        </tr>

    </tbody>
</table>