

<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/imagenes/background/regback.jpg);">
      <div class="login-box card">
          <div class="card-body">

            <form [formGroup]="myFormUser" (ngSubmit)="registerUser()">
              <h3 class="box-title m-b-20">Registrarse</h3>
              <div class="form-group">
                  <div class="col-xs-12">
                      <input class="form-control mb-2" type="email" required="true" placeholder="Email" formControlName="emailF">
                      <div  *ngIf="emailF?.invalid && (emailF?.dirty || emailF?.touched)">
                        <small >
                            * Email es requerido
                        </small>
                        <small >
                            * Email no es correcto
                        </small>
                    </div>
                  </div>
              </div>
              <div class="form-group ">
                  <div class="col-xs-12">
                      <input class="form-control" type="password" required="true" placeholder="Contraseña"  formControlName="passwordF" minlength="6">
                      <div  *ngIf="passwordF?.invalid && (passwordF?.dirty || passwordF?.touched)">
                        <small >
                            El password es requerido
                        </small>
                        <small >
                            El password debe tener una longitud de 6 caracteres
                        </small>
                    </div>
                  </div>
              </div>


              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary mt-4" type="button">Registrarse</button>
                <!-- <button class="btn btn-primary" type="button mt-4">
                  <img src="../assets/imagenes/github-icon.png">
                      <span class="btn-inner--text"> Github.</span>
                </button> -->
                <button type="submit" class=" btn btn-danger" type="button" (click)="onLoginGoogle()">
                  <img src="../assets/imagenes/google-icon.png">
                      <span class="btn-inner--text"> Google</span>
                </button>

              </div>
              <br>
              <div class="form-group m-b-0">
                  <div class="col-sm-12 text-center">
                      Already have an account? <a  routerLink="/login" class="text-info m-l-5"><b>Sign
                              In</b></a>
                  </div>
              </div>
          </form>

          </div>
      </div>
  </div>
</section>



