
.tittle{
  text-align: center;
  
  font-style: normal;
  font-weight: normal;
  font-size: 72px !important;
  
  color: rgba(60, 180, 172, 0.58);
}
.tittle1{
  font-weight: bold;
}
.container{
  width: 90%;       
  height: 600px;
  margin: 0 auto;
  font-family: Roboto;
  font-size: 20px;
  }

  .card{
    border: none !important;
    }
  
  .btn{
  background-color: #FB743E !important;
  }
  
  .whatsapp , .llamada{
    margin: 0 auto !important;
    display: inline-block;
    padding: 10px;
    width: 330px;
    height: 85px;
    background: #C4C4C4;
    border-radius: 50px;
    text-align: center;
  }
  .iconw{
    color: #00E676;
  }
  .iconl{
    color: #383E56;
  }
  .textfooter{
    text-align: left;
    color: honeydew;
  }


  .form-control{
    background: #C4C4C4 !important;
  }

  .imagen{
    display:block;
     margin:auto;
     width: 30% !important;
  }