
.tittle{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 72px !important;
  
  color: rgba(60, 180, 172, 0.58);
}
.tittle1{
  font-weight: bold;
}
.container{
  width: 90%;       
  height: 600px;
  margin: 0 auto;
  font-family: Roboto;
  font-size: 20px;
  }

  .card{
    border: none !important;
    font-family: Roboto;
    font-size: 20px;
    }
  
  .btn{
  background-color: #FB743E !important;
  }
  

  .textfooter{
    text-align: left;
    color: honeydew;
  }


  .form-control{
    background: #C4C4C4 !important;
  }

  .imagen{
    display:block;
     margin:auto;
     width: 80% !important;
  }