<ion-header>
  <ion-toolbar>
    <ion-title>Contáctanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="form fade-in">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input class="ion-text-right"></ion-input>
      <ion-icon slot="end" name="lock"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input class="ion-text-right"></ion-input>
      <ion-icon slot="end" name="at"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono</ion-label>
      <ion-input class="ion-text-right"></ion-input>
      <ion-icon slot="end" name="lock"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Mensaje</ion-label>
      <ion-input class="ion-text-right"></ion-input>
      <ion-icon slot="end" name="lock"></ion-icon>
    </ion-item>
    <ion-button expand="block">Block Button</ion-button>
  </ion-list>

</ion-content>
