<h1>Usuarios Tecnifast</h1>  

    <button type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="listTecnicos()">
        Ver Tecnicos
    </button> 
    <button type="button" class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="listClientes()">
        Ver Clientes
    </button> 
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Role</th>
            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let  user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.role}}</td>
            <td>{{user.email}}</td>

        </tr>

    </tbody>
