
.container1 {
    margin: 0 auto !important;
    width: 1200px;       
    
}
.title1{
text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 60px !important;
  color: rgba(60, 180, 172, 0.58);
  margin-top: 25px;
}
.imagen{
    
    width: 70% !important;
    
}

.btn{
    background-color: #FB743E;
}
.form-control{
    background-color: #C4C4C4;
}
.text{
    font-size: 18px;
    
}

