
.card-group{
    padding-left: 20px;
    padding-right: 20px;
}
.title1{
 text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 60px !important;
  color: rgba(60, 180, 172, 0.58);
  margin-top: 25px;
}
.imagen{
    display:block;
     margin:auto;
    width: 50% !important;
    
}

.btn{
    background-color: #FB743E;
}
.form-control{
    background-color: #C4C4C4;
}
.text{
    font-size: 25px;
    
}
.card{
    border: none;
}

.card-title{
    text-align: center;
}
.title2{
    text-align: center;
}
.card-text{
    text-align: justify;
    padding: 20px;
    font-family: 'Roboto', 20px;
    line-height : 25px;
}
.form-label{
    font-family: 'Roboto', 20px;
}