<title></title>
<form >
  <div class="row g-6">
    <div class="col-md-6">
    <h2>¿Quiéres poner en práctica tus conocimientos?</h2>
    <h3>Trabaja con nosotros</h3>
    <p>Ser parte de Tecnifact es una experiencia única, trabaja con tus propios horarios, nosotros te ayudamos a ofrecer tu servicio 
      en mantenimiento computacional, uno de nuestros objetivos es tener reconocimiento en el mercado digital y ayudarte a crecer 
      como profesional.</p>
    <p>Puedes pertenecer a nuestro equipo de trabajo, tan solo llena los datos solicitados y nosotros estaremos en contacto contigo.</p>
    </div>
  
  <div class="col-md-6">
  <div class="row g-4">
    <div class="col-md-5">
      <label for="validationServer01" class="form-label">Nombres</label>
      <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
      <div class="valid-feedback">
        llenar
      </div>
    </div>
    <div class="col-md-5">
      <label for="validationServer02" class="form-label">Apellido</label>
      <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
      <div class="valid-feedback">
        llenar
      </div>
    </div>
  </div>
  <div class="row g-4">
    <div class="col-md-5">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-5">
      <label for="validationServer03" class="form-label">Ciudad</label>
      <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
      <div id="validationServer03Feedback" class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>   
  </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
  </div>
  </div>
  </form>
